.settingsTab{
    height:100%;
    width:100%;
    background-color:#323942;
    display:flex;
    flex-direction: column;
}

.settingsText{
    color: white;
    font-size: 28px;
    font-family: "Noto Serif", serif;
    user-select: none;
}