.workArea{
    height:100%;
    width:75%;
    background-color:#323942;
    position: absolute;
    left:25%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.openAChatText{
    color: white;
    font-size: 28px;
    font-family: "Noto Serif", serif;
}